page-tabs{
	background: url('../images/login_bg6.jpg') no-repeat top;
	background-size: cover;

	ion-navbar{
		max-height: 56px!important;
	}

	ion-tabs{
		margin-top: 56px;
		height: calc(100% - 56px);
	}
}