page-venda {
	
	.vertical-align-content > *
	{
	     display: flex!important;
	     align-content: center!important;
	     align-items: center!important;
	};

	background: url('../images/login_bg6.jpg') no-repeat top;
	background-size: cover;

	ion-content{
		background-color: rgba(255,255,255,0)!important;
	}
	
	ion-card{
		background-color: rgba(255,255,255,0.8)!important;
	}
	ion-card.hide{
		display: none;
	}
}

ion-label, ion-input, ion-select{
	font-size: 1.3em;
}

ion-label.card-title{
	font-size: 3em;
	font-weight: bold;
}