page-transacoes-e {
	
	background: url('../images/login_bg6.jpg') no-repeat top;
	background-size: cover;

	ion-content{
		background-color: rgba(255,255,255,0)!important;
	}
	
	ion-card{
		background-color: rgba(255,255,255,0.6)!important;
	}

	ion-card button.hide{
		display: none;
	}

	ion-item.item-checkbox ion-label{
		font-size: 1em;
	}
}

ion-card-header{
	font-size: 1.3em!important;
}

ion-item{
	margin-bottom: 2px!important;
	font-size: 1em!important;
}