page-login-e {
	.vertical-align-content > *
	{
	     display: flex!important;
	     align-content: center!important;
	     align-items: center!important;
	}

}

ion-item{
	margin-bottom: 40px!important;
}
