page-login-e {
	.vertical-align-content > *
	{
	     display: flex!important;
	     align-content: center!important;
	     align-items: center!important;
	};

	ion-header{
		ion-navbar{
			div.toolbar-background{
				background-color: rgba(50,50,150,0.7)!important;
			}
		}
	};

	background: url('../images/login_bg6.jpg') no-repeat top;
	background-size: cover;

	ion-content{
		background-color: rgba(255,255,255,0)!important;
	}
}

ion-item{
	margin-bottom: 40px!important;
	background-color: transparent;
}
